*{
    box-sizing: border-box;
}

body{
    background-color: gray;
    margin: 0;
}

header{
    background-color: white;
    padding: 10px;
}

header h1{
    margin: 0;
}

div.post{
    background-color: white;
}

.post img {
    width: 100%;
}
.post h2, .post p{
    padding: 5px;
}

.container{
    width: 600px;
    margin: auto;
}

.title-date{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px 0;
}

.post div span {
    color: gray;
}